@import "../../Assets/Colors/colors.scss";

.dropDownItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  margin: 0px;

  cursor: pointer;

  p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    transition: color 0.5s ease-in-out;
    
    &:hover {
      color: $pink;
    }
  }
}
